@model WebApplication7.Models.ChangePassModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size:20px;"><i class="fa fa-gear"></i> Password Update</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions() { OnSuccess = "Success", OnFailure = "Fail" }, new { @id = "formsubmit", @class = "form-horizontal" }))
                        {

                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 col-xs-12 control-label">Enter Old Password <span class="star"> *</span></label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "label label-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 col-xs-12 control-label">Enter New Password <span class="star"> *</span></label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "label label-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 col-xs-12 control-label">Enter Confirm New Password <span class="star"> *</span></label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "label label-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 col-xs-12 control-label"></label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @*<input type="button" value="Change Password" id="btnsubmit" onclick="btnrsubmit();" class="btn btn-success" />*@
                                    <input type="submit" class="btn btn-success" value="Change Password" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script>

        function Success(response) {
            if (response.result == true) {
                $.notify(response.message, { globalPosition: 'top right', className: 'success' });
                $("#OldPassword").val('');
                $("#NewPassword").val('');
                $("#ConfirmPassword").val('');
            }
            else {
                $.notify(response.message, { globalPosition: 'top right', className: 'error' });
            }
        };

    </script>

</div>
